*{
    box-sizing: border-box;
}

h1{
    text-align:center;
    font-weight: 100;
    font-size:75%
    padding:20px;
    
}
.row{
    width:100%;
}
p{
    font-size:16px;
    position:relative;
    border:1px solid black;
    background-color: grey;
    width:100%px;
    height:250px;
    padding:20px;
    margin:20px;
}

   

#bg1{
    font-size:20px;
    position: absolute;   
    top:0;
    right:0;
    border:1px solid black;
    background-color:burlywood;
}
#bg2{
    font-size:20px;
    position: absolute; 
    top:0;
    right: 0;
    border:1px solid black;
    background-color:burlywood;
}
#bg3{
    font-size:20px;
    position: absolute;
    top:0;
    right:0;
    border:1px solid black;
    background-color:burlywood;
}


@media(min-width:992px){
    .row{
        position: relative;
        width:100%;
        display:flex;
        float:left;
        border:2px;}
}


@media(min-width:768px)and(max-width:991px){
    .col-md-1{
    width:50%;
}
    .col-md-2{
    width:50%;
}
    .col-md-3{
    width:100%;
} 
@media(max:767px){
    .col-sm-1,.col-sm-2,.col-sm-3{float:left;}
}
.col-sm-1{
    width:100%;
}
.col-sm-2{
    width:100%;
}
.col-sm-3{
    width:100%;
}
